<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-4 col-md-8 mx-auto">
                    <div class="card">
                        <article class="card-body">
                            <a [routerLink]="['/register']" class="float-right btn btn-outline-primary">Sign up</a>
                            <h4 class="card-title mb-4 mt-1">Sign in</h4>
                            <form (submit)="login(loginForm)" [formGroup]="loginForm" autocomplete="off" class="row g-3"
                                  novalidate>
                                <div class="col-sm-12 col-md-12">
                                    <label>Nutzername</label>
                                    <input class="form-control" formControlName="userName" name="username"
                                           placeholder="Email"
                                           type="email"/>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <label>Passphrase</label>
                                    <input class="form-control" formControlName="password" name="password"
                                           placeholder="******"
                                           type="password"/>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <!-- form-group// -->

                                    <div class="checkbox">
                                        <label>
                                            <input formControlName="rememberMe" name="rememberMe" type="checkbox"/>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 mt-2">
                                    <!-- checkbox .// -->

                                    <!-- form-group// -->
                                    <div class="form-group">
                                        <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block"
                                                type="submit">Login
                                        </button>
                                    </div>
                                </div>
                                <!-- form-group// -->
                            </form>
                        </article>
                    </div>
                    <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
</div>
